{% extends "base.html" %}
{% load static %}

{% block conteudo_principal %}

<main class="home">
    <div class="hero_box">
        <div class="hero" style="background-image: url({% static 'imgs/studioimg.jpg' %});">
            <div class="hero_conteiner">
                <div class="intro_box">
                    <p class="intro">
                        Ecommerce de instrumentos e equipamentos.
                    </p>
                </div>
                <div class="title_box">
                    <h1 class="title">
                        Temos Tudo Que Você Precisa Para A Sua Jornada Na Música.
                    </h1>
                    <hr class="title_bottom">
                </div>
                <div class="description_box">
                    <p class="description">Instrumentos, equipamentos e acessórios a partir de<strong style="color: rgb(3, 195, 22);"> R$ 100,00.</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits_box">
        <div class="benefits_conteiner">
            <div class="card">
                <div class="card_icon_box">
                    <i class="fa-regular fa-truck"></i>
                </div>
                <div class="card_title_box">
                    <h2>Frete Grátis</h2>
                </div>
                <div class="card_description_box">    
                    <p>Para compras acima de 300,00</p>
                </div>
            </div>
            <div class="card">
                <div class="card_icon_box">
                    <i class="fa-solid fa-box-open"></i>
                </div>
                <div class="card_title_box">
                    <h2> Garantia de 1 ano</h2>
                </div>
                <div class="card_description_box">    
                    <p>Nosso objetivo é a sua satisfação</p>
                </div>
            </div>
            <div class="card">
                <div class="card_icon_box">
                    <i class="fa-solid fa-money-check-dollar"></i>
                </div>
                <div class="card_title_box">
                    <h2>Compra-Segura</h2>
                </div>
                <div class="card_description_box">    
                    <p>Aceitamos PIX e Mastercard</p>
                </div>
            </div>
            <div class="card">
                <div class="card_icon_box">
                    <i class="fa-solid fa-headset"></i>
                </div>
                <div class="card_title_box">
                    <h2>Suporte 24/7</h2>
                </div>
                <div class="card_description_box">    
                    <p>Responderemos suas dúvidas</p>
                </div>
            </div>
        </div>
    </div>
    <section class="more_benefits_box">
        <div class="more_benefits_conteiner">
            <div class="card2_promo" style="background-image: url({% static 'imgs/snare.jpg' %});">
                <div class="card2_promo_contents">
                    <div class="card2_promo_title_box_special">
                        <p>Oferta Imperdível:</p>
                    </div>
                    <div class="card2_promo_title_box">
                        <h2 class="card2_promo_title">Promoção do Batera.</h2>
                        <div class="title_line_box">
                            <hr class="title_line">
                        </div>
                    </div>
                    <div class="card2_promo_contents_desc_box">
                        <p>Descontos em <strong style="color: inherit;">TODOS</strong> os items de percussão.</p>
                    </div>
                    <a href="" class="card2_promo_contents_btn_box">
                        <button class="card2_promo_contents_btn">Procurar</button>
                    </a>
                    <div class="card2_promo_extra">
                        <p>Oferta válida até <strong style="color: inherit;">26/10/2026</strong>.</p>
                    </div>
                </div>
            </div>
            <div class="card2" style="background-image: url({% static 'imgs/guitar.jpg' %});">
                <div class="card2_contents">
                    <div class="card2_bubble_box">
                        <div class="card2_bubble">
                            <h3>-15%</h3>
                        </div>
                    </div>
                    <div class="card2_info">
                        <div class="card2_offer">
                            <p>15% OFF na primeira compra.</p>
                        </div>
                        <div class="card2_TITLE_box">
                            <h2>Oferta Especial Para Novos Membros.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="novidades_box">
        <div class="novidades_conteiner">
            <div class="novidades_title_box">
                <div class="novidades_txt">
                    <p>Novas Adições</p>
                </div>
                <div class="novidades_title">
                    <h2>DESTAQUE.</h2>
                    <hr class="n_title_line">
                </div>
            </div>
            <div class="novidades_products_box">
                <div class="novidades_card">
                    <div class="novidade_card_img_box">
                        <img src={% static "imgs/shecter.jpg" %} alt="produto">
                    </div>
                    <div class="novidades_product_details_box">
                        <div class="novidades_product_details">
                            <h3>Shecter Custom S Black</h3>
                            <p class="novidades_product_price">R$ 20500,00</p>
                        </div>
                    <a href="" class="novidades_product_btn_box">
                        <button class="novidades_product_btn">Comprar</button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock conteudo_principal %}