{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header_contents">
            <a href={% url "home" %} class="logo_conteiner">
                <div class="logo_img"></div>
                <div class="logo_txt_card">
                    <p class="logo_text">MÚSICshop</p>
                </div>
            </a>
            <nav>
                <div class="searchbar">
                    <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                    <input type="text" id="search">
                </div>    
                <li class="nav_links">
                    <ul>
                        <a class="h_link" href="">Categorias</a>
                    </ul>
                    <ul>
                        <a class="h_link" href="">Sobre</a>
                    </ul>
                    <ul>
                        <a class="h_link" href="">Contato</a>
                    </ul>
                </li>
            </nav>
            <div class="account_conteiner">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </header>
    <main>
        {% block conteudo_principal %}{% endblock conteudo_principal %}
    </main>
</body>
</html>